:root{
  --canvasSideLength: 34vw;
  --plotWidth: 55vw;
  --backgroundColor: rgb(8, 8, 8);
    --fontColor: rgb(251, 251, 251);
  --fancyColor: rgb(238, 157, 0);
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--backgroundColor);
    color: var(--fontColor);
    overflow-x:hidden;
    /* overflow-y: hidden; */
}

html {
    min-height: 100%;
}

.background_image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("imgs/cardo-tabaibal.jpg");
}

.centering_container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 1vw;
  margin-bottom: 0vw;
}

#title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 150px;
  margin-left: 0vw;
  margin-bottom: 50px;
  text-align: center;
}

#title {
  font-size: 4.5em;
  text-shadow: 4px 4px 12px black;
  font-family: 'Anton', sans-serif;
  color: white;
  max-width: 90%;
}

#cnv_container {
  display: inline-block;
  width: var(--canvasSideLength);
  height: var(--canvasSideLength);
  /* margin-left: calc((100vw - var(--canvasSideLength)) / 2); */
}

#plot_container {
  display: inline-block;
  width: var(--plotWidth);
  height: auto;
  /* margin-left: calc((100vw - var(--canvasSideLength)) / 2); */
}

#controls_container {
  display: inline-block;
  margin-top: 0vw;
}

#button-controls {
  transform: translateY(-30%);
}

.plot_controls_container {
  width: var(--plotWidth);
}

.control_group {
  display: inline-block;
}

.slider_container {
  margin: 2vw;
}

.slider {
  width: 10vw;
  /* -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s; */
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: var(--fancyColor);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: var(--fancyColor);
  cursor: pointer;
}

.button {
  /* position: absolute;
  top: 2vh;
  left: 5vw; */
  /* padding: 1vmax; */
  margin-bottom: 1vw;
  font-size: 1.2em;
  width: 3.5vw;;
  height: 3.5vw;
  background-color: var(--fancyColor);
  border: none;
  color: var(--fontColor);
  text-align: center;
  text-decoration: none;
  display: block;
  cursor: pointer;
  border-radius: 50%;
  user-select: none;
  outline: none;
  box-shadow: 0 0.2vmax rgb(221, 221, 221);
  z-index: 2;
}
.button:active {
  box-shadow: 0 0.3vmax rgb(102, 102, 102);
  transform: translateY(4px);
}

a {
  text-decoration: none;
  color: var(--fancyColor);
}

footer {
  /* position: absolute;
  top: 93vh;
  left: 40vw; */
  font-size: 1.3em;
  z-index: 2;
  color: var(--fontColor);
  margin-top: 0vh;
}

footer > p {
  margin-top: 0vh;
}

#footer_container {
  margin-bottom: 0vh;
  margin-top: 0vh;
}

::-webkit-scrollbar {
  width: 0.5vw;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.25vw grey;
  border-radius: 0.5vw;
}

::-webkit-scrollbar-thumb {
  background: var(--fancyColor);
  border-radius: 0.5vw;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--fancyColor);
}

@media only screen and (max-width: 400px) {

  #title-container {
    height: 150px;
  }
  #title {
    font-size: 2em;
  }
  .centering_container {
    display: inline;
  }

  #cnv_container {
    margin: calc((100vw - var(--canvasSideLength)) / 2);
  }

  #button-controls {
    display: block;
    margin-top: 2vh;
  }

  .button {
    width: 50px;
    height: 50px;
    font-size: 1em;
    display: inline-block;
  }

  .slider {
    width: 30vw;
  }

  :root {
    --canvasSideLength: 95vw;
    --plotWidth: 100vw;
  }

  footer {
    font-size: 1em;
  }

  #plot_container {
    height: auto;
    /* max-height: calc(0.75 * var(--canvasSideLength)); */
  }

}
